
raytracer/__pycache__/model.cpython-312.pyc
/.vs/raytracer/FileContentIndex
/.vs/raytracer/FileContentIndex
/.vs/raytracer/FileContentIndex
/.vs/raytracer/FileContentIndex
/raytracer/__pycache__
raytracer/__pycache__/Mathlib.cpython-312.pyc
raytracer/__pycache__/model.cpython-312.pyc
raytracer/__pycache__/material.cpython-312.pyc
raytracer/__pycache__/lights.cpython-312.pyc
raytracer/__pycache__/intercept.cpython-312.pyc
